{
  "rules": {
    "sharing": {
      "$code": {
        ".write": "root.child('sharing').child($code).child(auth.uid).exists()",
        ".read": "root.child('sharing').child($code).child(auth.uid).exists()"
      }
    },
    "$access": {
      ".write": "root.child('sharing').child($access).child(auth.uid).exists()",
      ".read": "root.child('sharing').child($access).child(auth.uid).exists()"
    }
  }
}

